.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  // padding-left: 20px;
  // padding-right: 20px;
  z-index: 10;

  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  @media screen and (min-width: 768px) {
    padding: 20px 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 20px 85px;
  }
}
